<h1>Create a New User</h1>
<%= form_for(@users) do |f| %>
  <p>
    <%= f.label :fName, 'First Name' %>
    <%= f.text_field :fName, :class => "text" %>
	<%= f.label :lName, 'Last Name' %>
    <%= f.text_field :lName, :class => "text" %>
  </p>
  <p>
    <%= f.label :seKey, "Southeast Key (just the username, don't include @semo.edu)" %>
    <%= f.text_field :seKey, :class => "text" %>
  </p>
  <p>
    <%= f.label :isAdmin %>
    <%= check_box_tag :isAdmin, 1 %>
  </p>
  <p>
    <%= f.submit :class => "submit" %>
  </p>
<% end %>