<div id="accordion" class="ui-accordion ui-widget ui-helper-reset" role="tablist">
	<% @departments.each do |department| %>
		<h3 class="dep-<%= department.id %> ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" role="tab" aria-expanded="true" tabindex="0" aria-selected="true"><span class="ui-icon ui-icon-triangle-1-e"></span><span class="ui-icon ui-icon-triangle-1-e"></span><a href="#" tabindex="-1"><%= department.name %> </a></h3>
		<div class="dep-<%= department.id %>  ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" style="height: 130px; " role="tabpanel">
		 <p class="dep-<%= department.id %> ">
		 <ul><% department.users.each do |user| %>
			
			<li><%= link_to "#{user.fName} #{user.lName}", user_path(user) %></li>
		 <% end %></ul>
		 <br><small class="meta"><a onclick="edit_department('113','Academic Advising Business','','')">Edit</a> <a onclick="delete_department('113','Academic Advising Business')" style="color:red;">Delete</a></small>
		 </p>
		</div>
	<% end %>