<h2>All Departments</h2>
<div> <%=  link_to "Create Department", new_department_path, :class => "create_button" %></div>
<table id="dept_list" class="tablesorter"> 
	<thead> 
		<tr> 
			<th><%= sortable "id",  "Dept ID" %></th> 
			<th><%= sortable "name", "Department Name" %></th> 
			<th><%= sortable "prefix", "Prefix" %></th> 
			<th><%= sortable "count_users", "Total Users" %></th>
			<th><%= sortable "count_tickets", "Total Tickets" %></th>
		</tr> 
	</thead> 
	<tbody> 
		<% @departments.each do |department| %>
		<tr class="<%= cycle("even", "odd") %>" onclick="location.href='<%= department_path(department) %>'">
			<td style="text-align:center;"><%= link_to department.id, department_path(department) %></td>
			<td><%= "#{department.name}" %></td>
			<td><%= department.prefix %></td>
			<td><%= department.users.count %></td>
			<td><%= department.tickets.count %></td>
		</tr>
		<% end %>
	</tbody>
</table>